<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    :root {
      --biggest-font-size: 64px;
      --header-font-size: 32px;
      --sub-heading-font-size: 24px;
      --secondary-font-size: 18px;
      --primary-font-size: 16px;
      --primary-color: #5cdb95;
      --secondary-color: #ffffff;
      --text-color-one: #000000;
      --text-color-two: rgba(0, 0, 0, 0.6);
      --button-border-radius: 6px;
      --button-padding: 0.5rem 1.5rem;
    }

    .custom-container {
      width: 90%;
      margin: 0 auto;
    }

    .second-custom-container {
      width: 85%;
      margin: 0 auto;
    }

    .hero-section {
      margin-top: 100px;
      height: 34em;
    }

    .hero-section h1 {
      font-size: var(--biggest-font-size);
      font-weight: bold;
      color: var(--text-color-one);
      margin-bottom: 0.34em;
    }

    .hero-section p {
      font-size: var(--secondary-font-size);
      color: var(--text-color-two);
      margin-bottom: 2.55em;
      width: 30em;
    }

    .hero-section-content-grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      text-align: left;
      margin-top: 10em !important;
    }

    .hero-section button {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      padding: var(--button-padding);
      border-radius: var(--button-border-radius);
      font-size: var(--secondary-font-size);
    }

    .hero-section-illustration {
      background-image: url('/images/hero-section-illustration.svg');
      background-size: 300px 200px;
      background-repeat: no-repeat;
      background-position: top center;
    }

    .product-description h2 {
      font-size: var(--header-font-size);
      margin-bottom: 0.3em;
    }

    .product-description p {
      font-size: var(--secondary-font-size);
      color: var(--text-color-two);
    }

    .product-description-image {
      margin-bottom: 1em;
    }

    .product-description-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 4em;
      margin-top: 6.5em;
    }

    .product-description-text h3 {
      font-size: var(--sub-heading-font-size);
      font-weight: 700;
    }

    .product-description-text p {
      line-height: 2em;
      color: var(--text-color-two);
    }

    .product-category-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1em;
      grid-row-gap: 3em;
      grid-auto-rows: minmax(50px, auto);
      margin-top: 6.5em;
      margin-bottom: 6.5em;
    }

    .product-category-element {
      display: grid;
      grid-template-columns: 1fr 3fr;
      box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px, rgba(84, 70, 35, 0.15) 0px 1px 3px;
      border-radius: 6px;
      background-color: #fff;
    }

    .product-icon-description,
    .icon-container {
      align-self: center;

    }

    .icon-container {
      font-size: var(--sub-heading-font-size);

    }

    .icon-container svg {
      margin-top: 10px;

    }

    .icon-container path {
      color: #fff !important;
    }

    .icon-container div {
      background-color: var(--primary-color);
      width: 46px;
      height: 46px;
      border-radius: 23px;
      margin: 0 auto;
    }

    .product-icon-description {
      text-align: left;
      margin-top: 12px;
    }

    .product-icon-description a {
      text-decoration: none;
      color: #000;
      font-weight: 500;
    }

    .featured-product-category-header{
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: var(--primary-color);
      text-align: left;
      padding: 0.01em 1.5em;
     
      border-radius: 6px 6px 0 0;
    }

     .featured-product-category-header
     .view-more-button{
       text-align: right;
       
     }

    .featured-product-category-header p{
      margin-top: 15px;
       color: #fff;
    }

    .featured-products {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1em;
    }

    .featured-product-category{
       box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px, rgba(84, 70, 35, 0.15) 0px 1px 3px;
       border-radius: 6px;
       margin-top: 6.5em;
    }






    .shop-now {
      border: none;
      background-color: #5cdb95;
      border-radius: 3px;
      padding: 0.5rem 1.5rem;
      color: rgb(255, 255, 255);
      margin-top: 1rem;
      font-size: 18px;
    }

    .bottom-gap {
      margin-bottom: 5em;
    }

    .view-more {
      border: 2px solid #5cdb95;
      background-color: #fff;
      border-radius: 3px;
      padding: 0.5rem 1.5rem;
      color: #000;
      outline: none;
      font-size: 18px;
    }

    .white-text {
      color: #fff;
    }




    h2 {
      font-size: 1.5em;
      font-family: Roboto;
      font-weight: bold;
      margin-bottom: 0.8em;
      color: #000;
    }

    p {
      line-height: 36px;
      font-size: 17px;
    }

    .background {
      background-color: #e5faf1;
      padding-top: 5em;
      text-align: center;

    }

    .category-background {
      padding-top: 5em;
    }

    .background h2 {
      font-weight: 600;
      font-size: 1.5em;
      color: #000;
    }

    .category-paragraph-categories {
      margin-top: 3.5em;
      font-size: 12px;
      color: #000;
      font-family: Roboto;
      font-weight: 500;
    }

    .row-gap {
      margin-top: 4em;
    }

    div.row div {
      text-align: center;
      margin-bottom: 3em;
    }

    .container {
      padding-top: 5em;
    }

    h2 {
      font-size: 1.5em;
      font-family: Roboto;
      font-weight: bold;
      margin-bottom: 0.8em;
      color: #000;
    }

    .category-paragraph {
      margin-top: 0.5em;
      margin-bottom: 0;
      font-size: 14px;
    }

    .price {
      font-weight: 500;
      font-size: 16px;
    }

    .margin {
      margin-bottom: 3em;
    }

    .drug-backdrop {
      height: 150px;
      width: 150px;
      margin: 0 auto;
      margin-bottom: 0 !important;
      opacity: 1;
      transition: 0.5s ease;
      backface-visibility: hidden;
    }

    .button-container {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

    .product-container:hover .drug-backdrop {
      opacity: 0.3;
    }

    .product-container:hover .button-container {
      opacity: 1;
    }

    .cart-button {
      background: none;
      border: 2px solid #000;
      cursor: pointer;
      padding: 0.5em 1em;
      width: 7em;

    }

    .category-paragraph-categories a {
      text-decoration: none;
      color: #000;
    }



    @media (max-width: 575.98px) {
      .copyright-text {
        font-size: 12px;
      }

      .cart-button {
        background: none;
        border: 2px solid #000;
        cursor: pointer;
        padding: 0.5em 1em;
        width: 7em;
        font-size: 14px;
      }


      .about-paragraph {
        text-align: center;
        line-height: 2.5em;
        font-size: 15px;
        width: 100%;
        margin: 0 auto;
      }
    }


    @media (min-width: 576px) {
      .carousel-caption h1 {
        letter-spacing: 0.02rem;
        font-size: 1.96em;
      }

      .carousel-item {
        height: 24em;
      }

      .about-paragraph {
        text-align: center;
        line-height: 2.5em;
        width: 25em;
        margin: 0 auto;
      }
    }

    @media (min-width: 768px) {
      .about-paragraph {
        text-align: center;
        line-height: 2.5em;
        width: 30em;
        margin: 0 auto;
      }
    }

    @media (min-width: 992px) {
      .about-paragraph {
        text-align: center;
        line-height: 2.5em;
      }
    }
  </style>


</head>

<body>
  <div class="custom-container hero-section">
    <div class="hero-section-content-grid">
      <div>
        <h1>Pharmaceuticals made easy and accessible.</h1>
        <p>Get quality products and services tailored just for you at affordable prices. We use the latest technologies
          to provide top-notch experiences to our customers.</p>
        <button>Shop now</button>
      </div>
      <div class="hero-section-illustration"></div>
    </div>
  </div>

  <div class="custom-container">
    <div class="product-description">
      <h2>A new system for purchasing medication</h2>
      <p>Get access to better products and purchases.</p>
    </div>
  </div>

  <div class="second-custom-container" style="margin-bottom: 3.8em;">
    <div class="product-description-grid">
      <div class="product-description-block">
        <div class="product-description-image">
          <i class="fas fa-eye" style="font-size: var(--biggest-font-size);"></i>
        </div>
        <div class="product-description-text">
          <h3>Efficient prices</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam rerum totam autem ipsam nesciunt? Cum.
          </p>
        </div>
      </div>

      <div class="product-description-block">
        <div class="product-description-image">
          <i class="fas fa-eye" style="font-size: var(--biggest-font-size);"></i>
        </div>
        <div class="product-description-text">
          <h3>Payment made easy</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam rerum totam autem ipsam nesciunt? Cum.
          </p>
        </div>
      </div>

      <div class="product-description-block">
        <div class="product-description-image">
          <i class="fas fa-eye" style="font-size: var(--biggest-font-size);"></i>
        </div>
        <div class="product-description-text">
          <h3>Payment made easy</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam rerum totam autem ipsam nesciunt? Cum.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="custom-container">
    <div class="product-description">
      <h2>Product categories</h2>
    </div>
  </div>

  <div class="second-custom-container">
    <div class="product-category-grid">
      <div class="product-category-element">
        <div class="icon-container">
          <div>
            <i class="fas fa-syringe"></i>
          </div>

        </div>
        <div class="product-icon-description">
          <p><a href="#">Antimalaria</a></p>
        </div>
      </div>

      <div class="product-category-element">
        <div class="icon-container">
          <div>
            <i class="fas fa-pills"></i>
          </div>

        </div>
        <div class="product-icon-description">
          <p><a href="#">Multivitamins</a></p>
        </div>
      </div>

      <div class="product-category-element">
        <div class="icon-container">
          <div>
            <i class="fas fa-stethoscope"></i>
          </div>

        </div>
        <div class="product-icon-description">
          <p><a href="#">Medical equipment</a></p>
        </div>
      </div>

      <div class="product-category-element">
        <div class="icon-container">
          <div>
            <i class="fas fa-venus-mars"></i>
          </div>

        </div>
        <div class="product-icon-description">
          <p><a href="#">Contraceptives</a></p>
        </div>
      </div>

      <div class="product-category-element">
        <div class="icon-container">
          <div>
            <i class="fas fa-diagnoses"></i>
          </div>

        </div>
        <div class="product-icon-description">
          <p><a href="#">Antibiotics</a></p>
        </div>
      </div>

      <div class="product-category-element">
        <div class="icon-container">
          <div>
            <i class="fas fa-eye"></i>
          </div>

        </div>
        <div class="product-icon-description">
          <p><a href="#">Vision drugs</a></p>
        </div>
      </div>

      <div class="product-category-element">
        <div class="icon-container">
          <div>
            <i class="fas fa-tablets"></i>
          </div>

        </div>
        <div class="product-icon-description">
          <p><a href="#">Ulcer and gastro drugs</a></p>
        </div>
      </div>

      <div class="product-category-element">
        <div class="icon-container">
          <div>
            <i class="fas fa-bolt"></i>
          </div>

        </div>
        <div class="product-icon-description">
          <p><a href="#">Analgesics</a></p>
        </div>
      </div>

      <div class="product-category-element">
        <div class="icon-container">
          <div>
            <i class="fas fa-heartbeat"></i>
          </div>

        </div>
        <div class="product-icon-description">
          <p><a href="#">Antihypertensives</a></p>
        </div>
      </div>


    </div>
  </div>

  <div class="custom-container">
    <div class="product-description">
      <h2>Featured products</h2>
    </div>
  </div>

  <div class="custom-container">
    <div class="featured-product-category">
      <div class="featured-product-category-header">
        <div>
          <p>Antimalaria | Get well soon</p>
        </div>
        <div class="view-more-button">
          <p><a>VIEW MORE ></a></p>
        </div>
        
      </div>

      {{# each products }}
      <div class="featured-products">
        {{# each this }}
        <div>
          <img src="{{ this.imagepath }}" class="drug-backdrop">

          <p class="category-paragraph">{{ this.name }}</p>
          <p class="price">N{{ this.price }}</p>
        </div>
        {{/each}}
      </div>
      {{/each}}
    </div>
  </div>




  <div class="container" style="padding-top: 0;">
    <h2>Featured Products</h2>
    <nav aria-label="breadcrumb" class="margin" style="margin-bottom: 1em;">
      <ol class="breadcrumb" style="background-color: #5cdb95; color: #ffffff; margin-top: 4em;">
        <li class="breadcrumb-item active" aria-current="page" style="color: #ffffff; font-size: 17px;">Anti-Malaria
        </li>
      </ol>
    </nav>
    <!--col-sm-6 col-lg-4-->
    {{# each products }}
    <div class="row justify-content-center">
      {{# each this }}
      <div class="col-6 col-sm-6 col-lg-4 product-container">
        <img src="{{ this.imagepath }}" class="drug-backdrop">
        <div class="button-container">
          <a href="/add-to-cart/{{this._id}}" class="cart-button" style="text-decoration: none; color: #000;">Add to
            cart</a>
        </div>

        <p class="category-paragraph">{{ this.name }}</p>
        <p class="price">N{{ this.price }}</p>
      </div>
      {{/each}}
    </div>
    {{/each}}
    <button class="view-more"><a href="/antimalaria" style="text-decoration: none; color: #000;">View more</a></button>
  </div>

  <div class="container" style="padding-top: 0; margin-bottom: 5em;">

    <nav aria-label="breadcrumb" class="margin" style="margin-bottom: 1em;">
      <ol class="breadcrumb" style="background-color: #5cdb95; color: #ffffff; margin-top: 4em;">
        <li class="breadcrumb-item active" aria-current="page" style="color: #ffffff; font-size: 17px;">Multivitamins
        </li>
      </ol>
    </nav>
    {{# each products }}
    <div class="row justify-content-center">
      {{# each this }}
      <div class="col-6 col-sm-6 col-lg-4 product-container">
        <img src="{{ this.imagepath }}" class="drug-backdrop">
        <div class="button-container">
          <a href="/add-to-cart/{{this._id}}" class="cart-button" style="text-decoration: none; color: #000;">Add to
            cart</a>
        </div>

        <p class="category-paragraph">{{ this.name }}</p>
        <p class="price">N{{ this.price }}</p>
      </div>
      {{/each}}
    </div>
    {{/each}}
    <button class="view-more"><a href="/multivitamins" style="text-decoration: none; color: #000;">View
        more</a></button>

  </div>

</body>

</html>