<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  .add-one {
    border: 2px solid #aaa;
    width: 30%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-radius: 20px;
  }

  .add-one button {
    border-radius: 20px;
    background: none;
    border: 0;
  }

  .total {
    width: 90%;
    margin: 0 auto;
  }

  .footer-paragraph p{
    margin-bottom: 1.5em !important;
  }

  .copyright-text{
    margin-top: 3.5em;
  }

  @media(max-width: 767.98px){
    .header{
      font-size: 15px;
    }

    .add-one{
      width: 80%;
    }

    .t-d{
      font-size: 15px;
    }

    nav{
      font-size: 15px;
    }

    .checkout, .bt-shop{
      font-size: 15px;
    }

  }

  @media(max-width: 575.98px){
    .add-one{
      width: 100%;
    }

    .t-d{
      font-size: 12px;
    }

    .remove{
      padding: 0.5em 0.2em;
    }

   
  }

  @media(min-width: 768px) {
    .add-one{
       width: 70%;
    }
  }

</style>
</head>

<body>
  {{# if products }}
  <div class="container-fluid" style="margin-top: 4.5em">
    <table class="table">
      <thead>
        <tr>
          <th class="header" scope="col">Product</th>
          <th class="header" scope="col">Price</th>
          <th class="header" scope="col">Quantity</th>
          <th class="header" scope="col">Subtotal</th>
          <th class="header" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{# each products }}
        <tr>

          <th scope="row">
            <img src="/images/p-alaxin.jpg" alt="..." width="100" height="100">
          </th>
          <td class="pt-5 t-d">
            {{this.item.price}}
          </td>
          <td class="pt-5 t-d">
            <div class="add-one">
              <a href="/reduce/{{this.item._id}}">-</a>
              <span>{{ this.qty }}</span>
              <button>+</button>
            </div>
          </td>
          <td class="pt-5 t-d">{{this.price}}</td>

          <td class="pt-5 t-d"><a href="/remove/{{this.item._id}}" style="background-color: #5cdb95; color: #fff;  border-radius: 3px;
      padding: 0.5rem 1rem; border: none;" class="remove">Remove item</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="total">
      <nav aria-label="breadcrumb" class="margin">
        <ol class="breadcrumb"
          style="background-color: #5cdb95; color: #ffffff; display: grid; grid-template-columns: 1fr 1fr;">
          <li class="breadcrumb-item active" aria-current="page"
            style="color: #ffffff; font-size: 17px; justify-self: start">Total:
          </li>
          <span style="justify-self: end;"> N{{totalPrice}}</span>
        </ol>
      </nav>

      <a href="/checkout" type="button" class="btn btn-lg btn-block checkout"
        style="background-color: #5cdb95; color: #fff;">Checkout</a>

      <button type="button" class="btn btn-lg btn-block bt-shop" style="color: #5cdb95;">Back to shop</button>
    </div>

  </div>
  {{ else }}
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3" style="margin-top: 10em; margin-bottom: 10em;">
    <h2>No items in your cart</h2>
  </div>
  {{/if}}
</body>

</html>

</body>