<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    :root {
    --biggest-font-size: 64px;
    --header-font-size: 32px;
    --sub-heading-font-size: 24px;
    --secondary-font-size: 18px;
    --primary-font-size: 16px;
    --primary-color: #5cdb95;
    --secondary-color: #ffffff;
    --text-color-one: #000000;
    --text-color-two: rgba(31, 8, 8, 0.6));
    --button-border-radius: 6px;
    --button-padding: 0.5rem 1.5rem;
  }

    .second-custom-container {
      width: 75%;
      margin: 0 auto;
    }

    .product-in-cart-headers{
      display: grid;
      grid-template-columns: 2fr 1.3fr 1fr 1fr;
    }

    .product-header h6{
      text-align: left;
    }

    .qty-header h6{
      text-align: right;
    }

    .unit-price-header h6{
      margin-left: 4em;
    }

    .subtotal-header h6{
      margin-left: 2em;
    }

    .product-in-cart-card {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
      box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px, rgba(84, 70, 35, 0.15) 0px 1px 3px;
      /*padding: 1rem 1.5rem 2rem 1rem;*/
    }

    .product-in-cart-image img{
      margin-top: 1em;
    }

    .product-in-cart-description {
      display: grid;
      grid-template-columns: 1fr;
      text-align: left;
      padding: 1em 1em 1.5em 1.5em;
    }

    .product-in-cart-card > div{
      border-right: 1px solid #ccc;
    }

    .product-in-cart-description p {
      font-weight: 500;
      margin-bottom: 0;
      margin-top: 1rem;
    }

    .product-in-cart-description span {
      font-size: 14px;
      display: block;
      margin-top: 3em;
      color: var(--primary-color);
    }

    .product-in-cart-qty span,
    .product-in-cart-price span,
    .product-in-cart-subtotal span{
      display: block;
      margin-top: 2em;
    } 

    .product-increment-decrement{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 2.3em;
    }

    .product-increment-decrement-container{
      width: 40%;
      height: 2em;
      margin: 0 auto;
      border-radius: 6px;
      color: var(--secondary-color);
      background-color: var(--primary-color);
      font-size: 15px;
    }

     .product-increment-decrement-container:hover {
        background-color: #61eea1fb;
     }

    .product-in-cart-subtotal{
      border-right: 0 !important;
    }
  </style>
</head>

<body>
  {{# if products }}
  <div class="second-custom-container"  style="margin-top: 6.5em;">
    <div class="product-in-cart-headers">
      <div class="product-header">
        <h6>PRODUCT</h6>
      </div>
      <div class="qty-header">
        <h6>QUANTITY</h6>
      </div>
      <div class="unit-price-header">
        <h6>UNIT PRICE</h6>
      </div>
      <div class="subtotal-header">
        <h6>SUBTOTAL</h6>
      </div>
    </div>
    {{# each products }}
    <div class="product-in-cart-card"  style="margin-top: 2em;">
      <div class="product-in-cart-image">
        <img src="{{this.item.imagepath}}" alt="..." width="100" height="100">
      </div>
      <div class="product-in-cart-description">
        <div>
          <p>{{this.item.name}}</p>
        </div>
        <div>
          <a href="/remove/{{this.item._id}}" style="text-decoration: none";>
            <span><i class="fas fa-trash" style="margin-right: 0.5em;"></i> Remove</span>
          </a>
        </div>
      </div>
      <div class="product-in-cart-qty">
        <span>{{ this.qty }}</span>
        <div class="product-increment-decrement">
          <div class="product-increment">
            <a href="/increment/{{this.item._id}}">
              <div class="product-increment-decrement-container">
              <i class="fas fa-plus" style="margin-top: 0.5rem;"></i>
            </div>
            </a>
          </div>
          <div class="product-decrement">
            <a href="/reduce/{{this.item._id}}">
              <div class="product-increment-decrement-container">
              <i class="fas fa-minus" style="margin-top: 0.5rem;"></i>
            </div>
            </a>
          </div>
        </div>
      </div>
      <div class="product-in-cart-price">
        <span>{{this.item.price}}</span>
      </div>
      <div class="product-in-cart-subtotal">
        <span>0000</span>
      </div>
    </div>
    {{/each}}
    </ {{ else }} <div style="margin-top: 10em; margin-bottom: 10em;">
    <h1 class="no-items">No items in your cart</h1>
    <div style="margin-top: 4em !important;">
      <a href="/" style="background-color: #5cdb95; color: #fff;  border-radius: 3px;
      padding: 0.5rem 1rem; border: none;" class="remove">Go to shop</a>
    </div>

  </div>
  {{/if}}
</body>

</html>

</body>