<style>
  :root {
    --biggest-font-size: 64px;
    --header-font-size: 32px;
    --sub-heading-font-size: 24px;
    --secondary-font-size: 18px;
    --primary-font-size: 16px;
    --primary-color: #5cdb95;
    --secondary-color: #ffffff;
    --text-color-one: #000000;
    --text-color-two: rgba(31, 8, 8, 0.6));
    --button-border-radius: 6px;
    --button-padding: 0.5rem 1.5rem;
  }

  .second-custom-container {
    width: 85%;
    margin: 0 auto;
  }

  .product-display-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .product-section-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4em 4em;
    margin-top: 6.5em;
    box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px, rgba(84, 70, 35, 0.15) 0px 1px 3px;
    border-radius: 6px;
    margin-bottom: 2em;
  }

  .no-of-products p {
    margin-top: 1.3em;
    text-align: left;
    margin-left: 2em;
  }

  .product-title p {
    font-size: var(--sub-heading-font-size);
    font-weight: 500;
    text-align: left;
    margin-left: 1.4em;
    margin-top: 0.6em;
  }

  .product-title,
  .no-of-products {
    border-bottom: 1px solid #ddd;
  }

  .hover-container {
    width: 95%;
    margin: 2em auto;
    height: 20em;
    border-radius: 6px;
    box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px, rgba(84, 70, 35, 0.15) 0px 1px 3px;
  }

  .hover-container button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.3rem 1.8rem;
    border-radius: var(--button-border-radius);
    font-size: var(--primary-font-size);
    margin-top: 3em;
  }

  .hover-container button:hover {
    background-color: #61eea1fb;
  }

  .hover-container p.product-name {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .hover-container p.product-price {
    font-size: 14px;
    font-weight: 500;
  }

  .out-of-order-opacity {
    -webkit-filter: opacity(25%);
    -moz-filter: opacity(25%);
    -o-filter: opacity(25%);
    -ms-filter: opacity(25%);
    filter: opacity(25%);
  }

  @media(max-width: 575.98px) {
    .product-display-grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .hover-container button a {
      display: block;
      width: 5em;
    }

    .hover-container button {
      width: 8em;
    }

    .second-custom-container {
      width: 95%;
    }
  }

  @media(min-width: 576px) {
    .product-display-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media(min-width: 992px) {
    .product-display-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>

<body>
  <div class="second-custom-container">
    <div class="product-section-container">
      <div class="product-title">
        <p>Antimalaria.</p>
      </div>
      <div class="no-of-products">
        <p>{{ noOfProducts }} products found.</p>
      </div>
      {{# each products }}
      <div class="product-display-grid">
        {{# each this }}
        {{#if noOfProductInStock}}
        <div>
          <a href="/product-details/{{this._id}}" style="text-decoration: none; color: #000;">
            <div class="hover-container">
              <img src="{{ this.imagepath }}">
              <p class="product-name">{{ this.name }}</p>
              <p class="product-price">₦{{ this.price }}</p>
              <button><a href="/add-to-cart/{{this._id}}" style="color: var(--secondary-color);">Add to
                  cart</a></button>
            </div>
          </a>
        </div>
        {{else}}
        <div class="out-of-order-opacity">
          <div class="hover-container">
            <img src="{{ this.imagepath }}">
            <p class="product-name">{{ this.name }}</p>
            <p class="product-price">₦{{ this.price }}</p>
            <p style="font-weight: 600; font-size: 15px;">OUT OF ORDER</p>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
      {{/each}}
    </div>
  </div>
</body>












<!--
<div class="container-fluid p-0" style="margin-bottom: 7em;">
  <div class="container" style="margin-top: 5em;">
    {{# each products }}
    <div class="row justify-content-center margin">
      {{# each this }}
      <div class="col-6 col-sm-6 col-lg-4 product-container">
        <img src="{{ this.imagepath }}" class="drug-backdrop">
        <div class="button-container">
          <a href="/add-to-cart/{{this._id}}" class="cart-button">Add to cart</a>
        </div>

        <p class="category-paragraph">{{ this.name }}</p>
        <p class="price">N{{ this.price }}</p>
      </div>
      {{/each}}
    </div>
    {{/each}}
  </div>
</div>
-->